section.section1{
		background:$white;
		border-bottom-color: $verylightgray;
		border-bottom-style: solid;
		border-width: 7px;
	.wrapper{
		display:flex;
		justify-content: space-between;
		height:100px;
		padding:0 60px;
		.span1{
			display:block;
			align-self: center;
			h1{
				font-size:1.7em;
				a{
					color:black;
				}
			}
		}
		.button1{
			display:block;
			width:100px;
			align-self: center;
			background:transparent;
			border:none;
			cursor:pointer;
			font-weight: 800;
			img{
				width:13px;
				margin:3px 0 0 0;
			}
		}
	}
}

main:nth-of-type(1){
		background:$white;
	.wrapper{
		padding:20px 25px;
		@media screen and (min-width:1000px){
			padding:40px 60px;
		}
		
		input{
			display:block;
			margin: 0 auto;
			width:85%;
			height:30px;
			background-image:  url('images/search-solid.svg');
			background-repeat:no-repeat;
			background-size: 20px;
			background-position: 15px;
			padding:10px 0 10px 70px;
			max-width:350px;
			box-shadow: -7px -3px 88px -29px rgba(0,0,0,0.75);
			border-radius:5px;
			border:none;
			box-shadow: 3px 3px 24px -8px rgba(0,0,0,0.75);
			@media screen and (min-width:1000px){
				margin:0 auto 0 0;
				float:left;
			}
			::placeholder {
  				color: $darkgray;
  				opacity: 1;
		}
			img{
				display:none;
			}
		}
		
	}
	.list1{
		width:50%;
		max-width:150px;
		display:block;
		position: relative;
		margin: 50px 0 0 0;
		height: 50px;
		display:flex;
		padding:5px 30px;
		box-shadow: 3px 3px 24px -8px rgba(0,0,0,0.75);
		border-radius: 5px;

		@media screen and (min-width:1000px) {
			margin:0 0 0 auto;
			height: 40px;
		}
		span{
			display:block;
			align-self: center;
		}
		img{
			width:10px;
			display:block;
			margin-left: auto;
		}
		&:hover .list2{
			display:block;
			position:absolute;
			background-color: $white;
			left:0.10px;
			top:53px;
			width:100%;
			box-shadow: 3px 3px 24px -8px rgba(0,0,0,0.75);
			border-radius: 5px;
			li{
				display:block;
				padding:0 20px;
				height:30px;
				display:flex;
				span{
					display:block;
					align-self: center;
					a{
						text-decoration: none;
						color:black;
					}
				}
			}
			
		}
		.list2{
			display:none;
		}
	}
	section.content{
	width:100%;
	background:white;
	display:grid;
	@media screen and (min-width:906px){
	grid-template-columns:repeat(4, minmax(180px, 25%)) ;
	grid-auto-rows: 1fr;
	grid-gap:30px;
}
	margin:50px auto 0 auto;
	.div{
		width:60%;
		max-width: 400px;
		line-height: 1.5;
		margin:0 auto 20px auto;
		padding:0 0 15px 0;
		box-shadow: 3px 3px 24px -8px rgba(0,0,0,0.75);
		border-radius:5px;
		@media screen and (min-width:906px){
			width:100%;
		}
		img{
			width:100%;
			border-radius:3px;
			margin: 0 0 10px 0;
		}
		div{
			width:100%;
			padding:0 0 0 5%;

			h3{
				margin:0 0 15px 0;
			}
			span{
				font-weight: bold;
			}
		}
	}
}

}

main.details{
	display:none;
	.detailsUpdate{
		padding:30px 30px 50px 30px;
		@media screen and (min-width:780px){
			display:flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding:40px 30px 200px 30px;

		}
		button{
			border:none;
			border-radius: 5px;
			background-color: $white;
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.29);
			cursor: pointer;
			overflow: hidden;
		}
		.goBack{
			width:30%;
			max-width:110px;
			height:30px;
			align-self: flex-start;
				display:flex;
				padding:7px;
			@media screen and (min-width:780px){
				align-self: flex-start;
				display:flex;

			}
			.arrow{
				width:15px;
				margin:0 10px 0 10px;
			}
			span{
				margin:0;
				display:inline;
			}
		}
		img{
			width:90%;
			max-width:400px;
			margin:50px auto;
			display: block;
			border-radius: 5px;
			@media screen and (min-width:780px){
				margin:50px auto 20px 0;
				align-self:center;
				max-width:45%;
				max-width:500px;
				float:left;
			}
		}
		.divDetails{
			@media screen and (min-width:780px){
				align-self:center;
				width: 45%;

			}

			div{
				line-height:1.4;
				.block{
					display:block;
				}
				.bold{
					font-weight: 700;
				}
			}
			.div1{
				margin:0 auto 40px auto;
				@media screen and (min-width:780px){
					float:left;
					margin:0 0 100px 0;
					width:40%;

				}
				.title{
					font-size:2em;
					margin:0 0 20px 0;
				}
			}
			.div2{
				margin:0 auto 40px auto;
				@media screen and (min-width:780px){
					margin:55px 0 0 auto;
					width:50%;
					overflow: hidden;
				}
			}
		}
		.div3{
			display:grid;
			grid-template-columns: repeat(3,minmax(20px,150px));
			grid-auto-rows: auto;
			grid-gap: 5px;
			margin:0 auto;
			width:90%;
			max-width:500px;
			@media screen and (min-width:780px){
				grid-template-columns: repeat(4,minmax(20px,180px));
				margin:70px 0 0 0;
			}
			h3{
				grid-column:1/4;
				align-self: stretch;
				@media screen and(min-width: 780px){
				grid-column:1/2;
				grid-row: 1/5;
				}
			}
			button{
				align-self: center;
				padding:2px;

			}
		}
	}
}
