//colors

//darkmode
$darkblue:hsl(209, 23%, 22%);
//darkmode
$verydarkblue:hsl(207, 26%, 17%);
//lightmode
$verydarkblue1:hsl(200, 15%, 8%);
//lightmode
$darkgray:hsl(0, 0%, 52%);
//lightmode
$verylightgray:hsl(0, 0%, 98%);
//darkmodetext and light mode elements
$white:hsl(0, 0%, 100%);

//fonts

